PORT=3002
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SSL=true
JWT_SECRET=
JWT_EXPIRATION=7d
FIREBASE_SERVICE_ACCOUNT=
FIREBASE_DATABASE_URL=
RABBITMQ_URL=
RABBITMQ_QUEUE=
RESEND_API_KEY=
EMAIL_FROM=
MAPBOX_ACCESS_TOKEN=
TOUR_QR_SECRET=
TOUR_QR_TTL_SECONDS=300
